:root {
	--primary-a: #242444;
	--primary-b: #06061a;
	--secondary: #641c77;
	--tertiary: #d07651;
	--quaternary: #e9b825;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	background: var(--primary-b);
}

.join-container {
	max-width: 500px;
	margin: 80px auto;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--primary-a);
	color: var(--quaternary);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#join-room-form {
	padding: 30px 40px 10px;
	background-color: var(--secondary);
}

#join-room-form .form-control {
	margin-bottom: 20px;
}

#join-room-form label {
	color: #fff;
	display: block;
	margin-bottom: 5px;
}

#join-room-form input {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

#join-room-form .btn {
	border-radius: 10px;
	padding: 15px 0;
	margin: 20px 0;
	font-size: 16px;
	background-color: #fff;
	color: #fff;
	background-color: var(--primary-a);
	width: 100%;
	cursor: pointer;
}

/* ----------------------- */

#create-room-form {
	padding: 10px 40px;
	background-color: var(--primary-a);
}

#create-room-form .btn {
	border-radius: 10px;
	padding: 15px 0;
	margin: 20px 0;
	font-size: 16px;
	background-color: #fff;
	color: var(--primary-b);
	background-color: var(--quaternary);
	width: 100%;
	cursor: pointer;
}
